:root {
  --color-gray: #f5f5f5;
  --color-dark-gray: #939393;
  --color-light-gray: #cccccc;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #17a6ff;
  --color-dark-blue: #1084cb;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--color-gray);

  &-title {
    font-size: 2.5em;
    color: var(--color-black);
  }
  &-description {
    color: var(--color-dark-gray);
    margin-top: 8px;
  }

  &-scrollbox {
    display: flex;
    justify-content: center;  

    width: calc(44% - 40px);  
    min-width: 280px;
    height: 320px; 
    overflow-y: scroll;   

    margin: 32px 0;  
    padding: 0 1em;
  }
  &-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &-message {
      margin: 32px 0px;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      min-width: 280px;

      background-color: var(--color-white);
      border-radius: 4px;
      box-shadow: 0 1px 1px 0 rgba(1, 1, 1, 0.2);

      padding: 16px 24px;
      margin-bottom: 8px;
      box-sizing: border-box;

      &-title {
        font-size: 18px;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 16px;
      }

      &-btn {
        border: none;
        background-color: transparent;
        background: url('trash.svg') no-repeat center;
        width: 24px;
        height: 24px;
      }
    }
  }
}

.Button.PRIMARY {
  background: var(--color-blue);
  border: 1px solid var(--color-dark-blue);
  color: var(--color-white);
}

.Button.SECONDARY {
  background: var(--color-white);
  border: 1px solid var(--color-light-gray);
}

.Button.FULL {
  width: calc(44% - 40px);
  min-width: 280px;
}

.Button {
  border: none;
  border: 4px;
  border-radius: 4px;

  width: 92px;

  color: var(--color-black);
  font-size: 16px;
  font-weight: 600;

  padding: 12px 16px;

  &[disabled] {
    background: var(--color-light-gray);
    color: var(--color-white);
    border: none;
  }
}

.Modal {
  background: rgba(1,1,1,0.3);

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  z-index: 2;
}


.ModalAddItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 320px;
  
  
  background: var(--color-white);
  box-shadow: 0 4px 4px 0
  rgba(1, 1, 1, 0.2);
  border-radius: 4px;
  
  padding: 32px 48px;

  &-title {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
  }

  &-input {
    margin-top: 24px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid var(--color-light-gray);
    padding: 4px 12px;
    font-weight: 600;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  @media only screen and (max-width: 600px) {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 33vh;
    
    box-shadow:1px 6px 3px 4px rgba(1, 1, 1, 0.2);
    padding: 16px 24px;
    box-sizing: border-box;

    &-title {
      font-size: 18px;
    }
  }
}