:root {
  --color-gray: #f5f5f5;
  --color-dark-gray: #939393;
  --color-light-gray: #cccccc;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #17a6ff;
  --color-dark-blue: #1084cb;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--color-gray);

  &-title {
    font-size: 48px;
    color: var(--color-black);
  }
  &-description {
    color: var(--color-dark-gray);
    margin-top: 8px;
  }


  &-list {
    margin-top: 32px;
    margin-bottom: 32px;

    height: 320px;
    overflow-y: auto;

    &-message {
      margin-top: 64px;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 600px;
      height: 60px;

      background-color: var(--color-white);
      border-radius: 4px;

      padding: 8px 16px;
      margin-top: 16px;

      &-title {
        font-size: 18px;
        font-weight: bold;
      }

      &-btn {
        border: none;
        background-color: transparent;
        background: url('trash.svg') no-repeat center;
        width: 24px;
        height: 24px;
      }
    }
  }
}

.Button.PRIMARY {
  background: var(--color-blue);
  border: 1px solid var(--color-dark-blue);
  color: var(--color-white);
}

.Button.SECONDARY {
  background: var(--color-white);
  border: 1px solid var(--color-light-gray);
}

.Button {
  border: none;
  height: 60px;
  border: 4px;
  border-radius: 4px;

  color: var(--color-black);
  font-size: 16px;
  font-weight: 600;

  padding: 16px;

  &[disabled] {
    background: var(--color-light-gray);
    color: var(--color-white);
    border: none;
  }
}

.Button.FULL {
  width: 100%;
}

.Modal {
  background: rgba(1,1,1,0.3);

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  z-index: 2;
}


.ModalAddItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  height: 180px;
  width: 400px;

  background: var(--color-white);
  box-shadow: 0 4px 4px 0 rgba(1, 1, 1, 0.2);
  border-radius: 4px;

  padding: 32px 24px;
  box-sizing: content-box;

  &-title {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
  }

  &-input {
    height: 32px;
    border-radius: 4px;
    border: 1px solid var(--color-light-gray);
    padding: 4px 12px;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

}